<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016061063081-b9v5lg0qjmvsjl9fr3la44j3fljapmud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016061063081-b9v5lg0qjmvsjl9fr3la44j3fljapmud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1016061063081-25k4afthsdoe9em0r4h1u1cr6fkp2olp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_BG_06GeW4fgMeQBvqXOSDXvyWXHyTXU</string>
	<key>GCM_SENDER_ID</key>
	<string>1016061063081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maoamiga.app.app</string>
	<key>PROJECT_ID</key>
	<string>maoamiga-990da</string>
	<key>STORAGE_BUCKET</key>
	<string>maoamiga-990da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016061063081:ios:346e73cd6e45238c995eb8</string>
</dict>
</plist>